---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cuckoo?</title>
	</head>
	<body>
		<div class="bg-yellow-500 h-screen w-full flex flex-col justify-center items-center text-lg md:text-2xl text-center leading-normal">
			<h1 id="cuckoo-question" class="mb-10 px-[5vh] md:px-0">Кукушка-кукушка, сколько <input id="cuckoo-input" type="text" class="px-2 py-2 mx-2 mt-2 rounded-md border-2 border-black" placeholder="продолжите вопрос" />?</h1>

			<h1 id="cuckoo-question-value" class="hidden mb-10 px-[5vh] md:px-0"></h1>
			
			<div class="mb-4 text-base italic font-semibold">
				<button id="cuckoo-btn" class="mb-2 px-10 py-4 bg-black text-white text-xl font-semibold rounded-md">Ку-ку!</button>
				<p id="counter" class="hidden">Кукует: <span id="cuckoo-counter">0</span></p>
				<p>1 ку-ку = 1 год</p>
			</div>

			<button id="reset-btn" class="hidden mb-2 px-6 py-2 bg-gray-800 text-white text-base font-semibold rounded-md">Новый вопрос!</button>
			<p id="warning-message" class="text-red-500 hidden font-bold">Закончите вопрос!</p>

		</div>
		<audio id="cuckoo-audio" src="/cuckoo.mp3"></audio>
	</body>
</html> 

<script>
	const cuckooQuestion = document.getElementById('cuckoo-question') as HTMLElement;
	const cuckooQuestionValue = document.getElementById('cuckoo-question-value') as HTMLElement;
	const cuckooBtn = document.getElementById('cuckoo-btn') as HTMLButtonElement;
	const cuckooInput = document.getElementById('cuckoo-input') as HTMLInputElement;
	const warningMessage = document.getElementById('warning-message') as HTMLElement;
	const resetBtn = document.getElementById('reset-btn') as HTMLElement;
	const cuckooAudio = document.getElementById('cuckoo-audio') as HTMLAudioElement;
	const cuckooCounter = document.getElementById('cuckoo-counter') as HTMLElement;
	const counter = document.getElementById('counter') as HTMLElement;

	window.addEventListener('DOMContentLoaded', () => {
		cuckooInput.value = '';
	});

	function getRandomCuckoos() {
		const random = Math.random();

		if (random < 0.5) {
			// 50% probability for range 1 to 40
			return Math.floor(Math.random() * 40) + 1;
		} else if (random < 0.8) {
			// 30% probability for range 41 to 90
			return Math.floor(Math.random() * (90 - 40 + 1)) + 40;
		} else {
			// 20% probability for range 91 to 120
			return Math.floor(Math.random() * (120 - 90 + 1)) + 90;
		}
	}

	function countCuckoos(cuckooCount: number) {
		let currentCuckoo = 0;
		cuckooCounter.textContent = currentCuckoo.toString();
		cuckooBtn.disabled = true;
		cuckooBtn.style.backgroundColor = '#d3d3d3';
		counter.classList.remove('hidden');

		const interval = setInterval(() => {
			if (currentCuckoo < cuckooCount) {
				currentCuckoo++;
				cuckooCounter.textContent = currentCuckoo.toString(); 
			} else {
				clearInterval(interval);
				resetBtn.classList.remove('hidden'); 
			}
		});

	}

	cuckooBtn.addEventListener('click', () => {
		const inputValue = cuckooInput.value.trim();

		console.log(inputValue);

		if (inputValue !== '') {
			warningMessage.classList.add('hidden');
			cuckooQuestion.classList.add('hidden');

			cuckooQuestionValue.innerHTML = `Кукушка-кукушка, сколько ${inputValue}?`;
			cuckooQuestionValue.classList.remove('hidden');

			const cuckooCountNumber = getRandomCuckoos();
			countCuckoos(cuckooCountNumber);
			cuckooAudio.play();
		} else {
			warningMessage.classList.remove('hidden');
			warningMessage.textContent = 'Закончите вопрос!';
		}
	});

	// Reset Button - returns the init Q, hides itself, hides the counter, resets the input
	resetBtn.addEventListener('click', () => {
		cuckooQuestionValue.classList.add('hidden');

		cuckooQuestion.classList.remove('hidden');
		resetBtn.classList.add('hidden');
		counter.classList.add('hidden');
		cuckooInput.value = '';

		cuckooBtn.disabled = false;
		cuckooBtn.style.backgroundColor = '#000';

	});
</script>